{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true,
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier"],
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
	},
	"rules": {
		"no-unused-vars": "off",
		"no-mixed-spaces-and-tabs": "off",
		"prefer-const": "warn",
	},
}
